body {
    background-color: rgb(16,14,46,1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.banniere {
    padding: 90px;
    background-image: url("img/img1.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

header {
    display: flex;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: white;
}

.t1 {
    font-size: x-large;
    margin-top: 15px;
}

nav {
    display: flex;
}

.nav1 {
    margin: 19px;
}

.nav2 {
    margin: 19px;
}

.nav2:hover{
    color: rgb(236,145,35,255);
}

.contact_main{
    background-color: rgba(17,16,47,255);
    
    color: rgb(255, 255, 255, .5);

}

.banner_title {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.flex_contact{
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    margin: auto;
}
.blue_square{
    background-color: rgba(13,11,38,255);
    padding: 20px;
    width: 250px;
}

.orange_circle{
    border-radius: 50%;
    background-color: rgba(236,145,35,255);
    text-align: center;
    width: 60px;
    margin: auto;
    margin-top: 20px;
    height: 60px;

}

.orange_circle:hover{
    transform: scale(1.1);
}

.logo_contact{
    display: block;
    width: 40px;
    margin: auto;
    padding-top: 8px;
}

.text_contact{
    text-align: center;
}

.block_form{
    font-size: large; 
    margin-left: 163px;
    margin-top: 20px;
}

.contact_form{
    background-color: rgb(39, 38, 69);
    color: rgb(133, 132, 134);
    border: none;
    margin-top: 0.75%;
    padding: 1%;
    width: 225px;
    margin-right: 10px;
}

.submit_contact {
    background-color: rgb(236,145,35,255);
    color: white;
    padding: 15px 19px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: larger;
    margin-top: 0.75;

}

.submit_contact:hover{
    transform: scale(1.1);
}

.subject_form{
    background-color: rgb(39, 38, 69);
    color: rgb(133, 132, 134);
    border: none;
    margin-top: 0.75%;
    padding: 1%;
    width: 492px;
}

.text_form{
    background-color: rgb(39, 38, 69);
    color: rgb(133, 132, 134);
    border: none;
    margin-top: 0.75%;
    padding: 1%;
    width: 492px;
    height: 85px;
}