.image_jeu {
    display: flex;
    padding: 5%;
    margin: 0px;
    background-color: rgba(17,16,47,255);
    justify-content: space-around;
    margin-left: 10%;
    width: 75%;
    position:relative;
}
.main {
    background-color: rgba(17,16,47,255);
    color: white;
}
body {
    margin : 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.test {
    position: absolute;
    display: flex;
}
.centrage {
    position:relative;
    margin: 3%;
    flex-wrap: wrap;
    justify-content: space-between;
}
img {
    padding: 0.5%;
}
a {
  font-size: 90%;
}
.elo {
    font-weight: bold;
    color: rgb(58, 0, 128);
    font-size: 230%;
    margin : 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.chess .solitaire .poker {
    background-color: transparent;
    
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.inf {
    margin: 10px;
    display: flex;

}
.op {
    margin: 10px;
}
.gb{
    margin:10px;
}
.gbop {
    
    display: flex;
    flex-wrap: wrap;
}

.squad {
    text-align: center;
} 
.carreg {
    width: 268px; 
    height: 165px;
    background-color: #18a15f; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px;
    text-align: center;
    border-radius: 5px;
}
.carreb {
    width: 268px; 
    height: 165px;
    background-color: #3724a0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px;
    text-align: center;
    border-radius: 5px;
}
.carreo {
    width: 268px; 
    height: 165px;
    background-color: #ec9123; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px;
    text-align: center;
    border-radius: 5px;
}
.carrep {
    width: 268px; 
    height: 165px;
    background-color: #b91ca8; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px;
    text-align: center;
    border-radius: 5px;
}
.wd {
    border-radius: 15px;
}
.delimiter {
    display: flex;
    justify-content: center;
    align-items: center;

}

